.form-panel {
  padding: 32px 0;
  position: relative;

  .form-container {
    width: 95%;

    .a-form {

      h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
      }

      .form-row {
        margin-bottom: 24px;
        font-weight: 700;
        line-height: 16px;
        font-size: 12px;

        >label {
          display: block;
          margin-bottom: 6px;
          font-weight: 500;
        }
      }

      .part {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        .part-title {
          grid-column: 1/7;
          margin-bottom: 30px;
        }

        .part-gender {
          grid-column: 1/4;
          margin-right: 30px;
        }

        .part-name {
          grid-column: 4/7;
        }

        .part-phone,
        .part-email,
        .part-city,
        .part-add,
        .part-shipping,
        .card-name,
        .card-number {
          grid-column: 1/7;
        }

        .card-date {
          grid-column: 1/4;
          margin-right: 30px;
        }

        .card-cvc {
          grid-column: 4/7;

        }

        .form-radio{
          grid-column: 1/7;

          .form-option{
              border: 1px solid #F0F0F5;
              display: flex;
              height: 60px;
              margin-bottom: 24px;
              position:relative;
              align-items: center;
              
          }
          .option-radio{
            margin: 26px;
            width: 20px;
            height: 20px;
          }

          .radio-text{
            width: 100%;
          }
          .radio-fee{
            width: 40px;
          }
        }



      }

      

      input {
        @extend %input-style;
      }

      select {
        @extend %input-style;
        -webkit-appearance: none;
        cursor: pointer;
      }

      .select-wrapper {

        position: relative;

        &::after {
          content: "\25BE";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 8px;
        }
      }




    }
  }
}