@import './_basic.scss';
@import './_mobile.scss';
@import './_header.scss';
@import './_stepper.scss';
@import './_form.scss';
@import './desktop.scss';



.car-container{
  border: 2px solid #F0F0F5;
  padding: 10px;
  border-radius: 10px;
}
.card-list {
  .card {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    img {
      width: 100px;
      height: 100px;
    }
    .card-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
.cart {
  width: 100%;
  .cart-shipping,
  .cart-shipping_price {
    border-top: 1px solid #F0F0F5;
    padding: 15px;
    display:flex;
    justify-content: space-between;
  }
}

.control-panel {

  margin-top: 32px;
  padding: 24px 0;
  border-top: 2px solid #E6E6EB;
  justify-content: space-between;


  button {
    height: 46px;
    width: 100%;
  }

  .btn-outline {
    align-items: center;

    &::before {
      content: "\2190";
      margin-right: 0.78rem;
    }
  }

  .btn-primary {
    border-radius: 10px;
    background-color: #F67599;
    color: white;

    &::after {
      content: "\2192";
      margin-left: 0.78rem;
    }
  }
}