@charset "UTF-8";
/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

/* basic setting */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.m-25 {
  margin: 25%;
}

.mt-25 {
  margin: 25%;
}

.mr-25 {
  margin: 25%;
}

.ml-25 {
  margin: 25%;
}

.mb-25 {
  margin: 25%;
}

.mx-25 {
  margin: 25%;
}

.my-25 {
  margin: 25%;
}

.m-50 {
  margin: 50%;
}

.mt-50 {
  margin: 50%;
}

.mr-50 {
  margin: 50%;
}

.ml-50 {
  margin: 50%;
}

.mb-50 {
  margin: 50%;
}

.mx-50 {
  margin: 50%;
}

.my-50 {
  margin: 50%;
}

.m-75 {
  margin: 75%;
}

.mt-75 {
  margin: 75%;
}

.mr-75 {
  margin: 75%;
}

.ml-75 {
  margin: 75%;
}

.mb-75 {
  margin: 75%;
}

.mx-75 {
  margin: 75%;
}

.my-75 {
  margin: 75%;
}

.m-100 {
  margin: 100%;
}

.mt-100 {
  margin: 100%;
}

.mr-100 {
  margin: 100%;
}

.ml-100 {
  margin: 100%;
}

.mb-100 {
  margin: 100%;
}

.mx-100 {
  margin: 100%;
}

.my-100 {
  margin: 100%;
}

.p-25 {
  padding: 25%;
}

.pt-25 {
  padding: 25%;
}

.pr-25 {
  padding: 25%;
}

.pl-25 {
  padding: 25%;
}

.pb-25 {
  padding: 25%;
}

.px-25 {
  padding: 25%;
}

.py-25 {
  padding: 25%;
}

.p-50 {
  padding: 50%;
}

.pt-50 {
  padding: 50%;
}

.pr-50 {
  padding: 50%;
}

.pl-50 {
  padding: 50%;
}

.pb-50 {
  padding: 50%;
}

.px-50 {
  padding: 50%;
}

.py-50 {
  padding: 50%;
}

.p-75 {
  padding: 75%;
}

.pt-75 {
  padding: 75%;
}

.pr-75 {
  padding: 75%;
}

.pl-75 {
  padding: 75%;
}

.pb-75 {
  padding: 75%;
}

.px-75 {
  padding: 75%;
}

.py-75 {
  padding: 75%;
}

.p-100 {
  padding: 100%;
}

.pt-100 {
  padding: 100%;
}

.pr-100 {
  padding: 100%;
}

.pl-100 {
  padding: 100%;
}

.pb-100 {
  padding: 100%;
}

.px-100 {
  padding: 100%;
}

.py-100 {
  padding: 100%;
}

.form-panel .form-container .a-form select, .form-panel .form-container .a-form input {
  border: 1px solid #2a2a2a;
  border-radius: 5px;
  font: size 16px;
  width: 100%;
  padding: 8px;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: #fff;
  color: #2a2a2a;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-content: flex-end;
}

.align-items-center {
  align-content: center;
}

.main-app {
  width: 95%;
  margin: 0 auto;
  background-color: #fff;
}

.main-content {
  position: absolute;
  top: 56px;
  width: 100%;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 56px;
  text-align: center;
}

.nav {
  position: absolute;
  top: 100%;
  transition: transform 0.2s ease-out;
  transform: scale(1, 0);
  transform-origin: top;
}

.navbar-brand {
  line-height: 56px;
}

.nav-item {
  margin: 1.4rem;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  opacity: 0;
}

.navbar-toggle {
  visibility: hidden;
  position: absolute;
}

.navbar-toggle:checked ~ .nav {
  transform: scale(1, 1);
  transition: transform 0.2s ease-out;
}

.navbar-toggle:checked ~ .nav .nav-item {
  opacity: 1;
}

.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger {
  position: relative;
  width: 20px;
  height: 3px;
  background: #000;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  height: 3px;
  background: #000;
  left: 0;
}

.hamburger::before {
  top: 8px;
  width: 10px;
}

.hamburger::after {
  bottom: 8px;
  width: 30px;
}

.hamburger::before,
.hamburger::after {
  content: "";
}

.stepper-panel {
  height: 80px;
}
.stepper-panel .stepper-container {
  display: flex;
  margin-top: 24px;
}
.stepper-panel .stepper-container .step {
  flex: 1;
  position: relative;
  text-align: center;
  color: #2a2a2a;
}
.stepper-panel .stepper-container .step:nth-child(1) .circle-container::after {
  content: "1";
}
.stepper-panel .stepper-container .step:nth-child(2) .circle-container::after {
  content: "2";
}
.stepper-panel .stepper-container .step:nth-child(3) .circle-container::after {
  content: "3";
}
.stepper-panel .stepper-container .step .circle-container {
  height: 32px;
  width: 32px;
  background: #fff;
  border: 1px solid #afb1bd;
  color: #afb1bd;
  border-radius: 50%;
  margin: 0 auto;
}
.stepper-panel .stepper-container .step .label-container {
  margin-top: 10px;
  visibility: hidden;
}
.stepper-panel .stepper-container .step.check .circle-container {
  border: 1px solid #2a2a2a;
  color: black;
}
.stepper-panel .stepper-container .step.active .circle-container {
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  color: #fff;
}
.stepper-panel .stepper-container .step.active .label-container {
  color: #2a2a2a;
}
.stepper-panel .stepper-container .step.checked .circle-container::after {
  content: "✔";
}
.stepper-panel .stepper-container .step.checked .circle-container::after .circle-container {
  border: 1px solid #2a2a2a;
  color: black;
}
.stepper-panel .stepper-container .step .connect-line {
  display: block;
  height: 1px;
  background-color: #2a2a2a;
  position: absolute;
  top: 16px;
  right: calc(50% + 32px);
  left: calc(-50% + 32px);
}

.form-panel {
  padding: 32px 0;
  position: relative;
}
.form-panel .form-container {
  width: 95%;
}
.form-panel .form-container .a-form h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.form-panel .form-container .a-form .form-row {
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 16px;
  font-size: 12px;
}
.form-panel .form-container .a-form .form-row > label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}
.form-panel .form-container .a-form .part {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.form-panel .form-container .a-form .part .part-title {
  grid-column: 1/7;
  margin-bottom: 30px;
}
.form-panel .form-container .a-form .part .part-gender {
  grid-column: 1/4;
  margin-right: 30px;
}
.form-panel .form-container .a-form .part .part-name {
  grid-column: 4/7;
}
.form-panel .form-container .a-form .part .part-phone,
.form-panel .form-container .a-form .part .part-email,
.form-panel .form-container .a-form .part .part-city,
.form-panel .form-container .a-form .part .part-add,
.form-panel .form-container .a-form .part .part-shipping,
.form-panel .form-container .a-form .part .card-name,
.form-panel .form-container .a-form .part .card-number {
  grid-column: 1/7;
}
.form-panel .form-container .a-form .part .card-date {
  grid-column: 1/4;
  margin-right: 30px;
}
.form-panel .form-container .a-form .part .card-cvc {
  grid-column: 4/7;
}
.form-panel .form-container .a-form .part .form-radio {
  grid-column: 1/7;
}
.form-panel .form-container .a-form .part .form-radio .form-option {
  border: 1px solid #F0F0F5;
  display: flex;
  height: 60px;
  margin-bottom: 24px;
  position: relative;
  align-items: center;
}
.form-panel .form-container .a-form .part .form-radio .option-radio {
  margin: 26px;
  width: 20px;
  height: 20px;
}
.form-panel .form-container .a-form .part .form-radio .radio-text {
  width: 100%;
}
.form-panel .form-container .a-form .part .form-radio .radio-fee {
  width: 40px;
}
.form-panel .form-container .a-form select {
  -webkit-appearance: none;
  cursor: pointer;
}
.form-panel .form-container .a-form .select-wrapper {
  position: relative;
}
.form-panel .form-container .a-form .select-wrapper::after {
  content: "▾";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}

@media screen and (min-width: 375px) {
  #main-app {
    width: 85%;
  }
  #main-app .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
  #main-app .main-header .navbar-toggle-label {
    display: none;
  }
  #main-app .main-header .nav {
    all: unset;
    width: 30%;
  }
  #main-app .main-header .nav-list {
    display: flex;
    justify-content: space-between;
  }
  #main-app .main-header .nav-list .nav-item {
    margin: 0;
    opacity: 1;
  }
  #main-app .form-container {
    width: 75%;
  }
  #main-app .form-container .part .part-phone {
    grid-column: 1/4;
    margin-right: 30px;
  }
  #main-app .form-container .part .part-email {
    grid-column: 4/7;
  }
  #main-app .form-container .part .part-city {
    grid-column: 1/3;
    margin-right: 30px;
  }
  #main-app .form-container .part .part-add {
    grid-column: 3/7;
  }
  #main-app .form-container .part .part-shipping,
#main-app .form-container .part .part-cardholder-name,
#main-app .form-container .part .part-cardnum {
    grid-column: 1/7;
  }
  #main-app .form-container .part .part-cardexp {
    grid-column: 1/4;
  }
  #main-app .form-container .part .part-cvc {
    grid-column: 4/7;
  }
}
.car-container {
  border: 2px solid #F0F0F5;
  padding: 10px;
  border-radius: 10px;
}

.card-list .card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card-list .card img {
  width: 100px;
  height: 100px;
}
.card-list .card .card-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.cart {
  width: 100%;
}
.cart .cart-shipping,
.cart .cart-shipping_price {
  border-top: 1px solid #F0F0F5;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.control-panel {
  margin-top: 32px;
  padding: 24px 0;
  border-top: 2px solid #E6E6EB;
  justify-content: space-between;
}
.control-panel button {
  height: 46px;
  width: 100%;
}
.control-panel .btn-outline {
  align-items: center;
}
.control-panel .btn-outline::before {
  content: "←";
  margin-right: 0.78rem;
}
.control-panel .btn-primary {
  border-radius: 10px;
  background-color: #F67599;
  color: white;
}
.control-panel .btn-primary::after {
  content: "→";
  margin-left: 0.78rem;
}

/*# sourceMappingURL=main.css.map */
